body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search{
    height: 40px; 
    width: 80%;
    border-radius: 80px;
    outline: none;
    border: 2px solid rgb(204, 71, 93);
    
}
.search-btn{
 
    outline: none;
    border: none;
    border-radius: 0;
    background-color: rgb(204, 71, 93);
    color: aliceblue;
    margin-left: 1%;
}
.nav-link{
    background-color: rgb(197, 190, 190);
}
.nav-link:hover{
    background-color: rgb(238, 232, 232);
    transition: 1s;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu li a{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .nav-link {
        background-color:white;
        
      
    }
    .nav-link:hover{
        background-color: white;
        transition: 1s;
    }

  }








